html, body {
	height: 600px !important;
	min-width: 333px !important;
	overflow: hidden;
	overflow-y: auto; 
}
/* Outer circle, tick-circles and spokes */
#chartBandWidths circle.outer {
	stroke: #aaa;
	stroke-dasharray: 4, 4;
}

#chartBandWidths .tick-circles circle {
	stroke: #fff;
	stroke-dasharray: 2, 2;
}

#chartBandWidths .spokes line {
	stroke: #aaa;
	stroke-width: 0.2;
}

#chartBandWidths {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 14px;
}

#chartBandWidths path {
	fill: none;
}

#chartBandWidths .layer-1 path {
	fill: white !important;
	opacity: 0.3;
	stroke-width: 2px;
	stroke: #999;
}
/* Axis */
#chartBandWidths .axis text {
	font-size: 11px;
	fill: #fff;
}

#chartBandWidths .axis path {
	stroke: #999;
	shape-rendering: crispEdges;
}

#chartBandWidths .axis line {
	stroke: #999;
	shape-rendering: crispEdges;
}

/* Labels */
#chartBandWidths .labels text {
	fill: #fff;
	font-size: 11px;
	font-weight: 500;
}

.ui-page-theme-a {
	color: white !important;
	text-shadow: none !important;
}

.ui-listview {
	margin: 0 !important;
}

.ui-listview>.ui-li-static {
	padding: 0;
}

#mainPage, #pageContents {
	width: 100%;
	height: 100%;
	text-align: center;
	position: fixed;
	bottom: 0px;
	top: 0px;
	right: 0px;
	left: 0px;
	overflow: hidden;
	overflow-y: auto; 
}

.cls-1 {
	fill: #eee;
}

.cls-1, .cls-2 {
	stroke: #000;
	stroke-miterlimit: 10;
}

.cls-2 {
	fill: none;
}

#chartEEGs, #chartEEGs canvas {
	height: 111px;
	max-width: 333px;
	width: 333px;
}


